<form action="/" method="POST">
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Personal</label>
        </div>
        <div class="field-body">
            <div class="field">
                <p class="control is-expanded has-icons-left">
                    <input class="input" type="text" placeholder="Name" name="name" required>
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control is-expanded has-icons-left has-icons-right">
                    <input class="input is-success" type="email" placeholder="Email" value="email@example.com" name="email">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </p>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label"></div>
        <div class="field-body">
            <div class="field is-expanded">
                <div class="field has-addons">
                    <p class="control">
                        <a class="button is-static">
                            +91
                        </a>
                    </p>
                    <p class="control is-expanded">
                        <input class="input" type="tel" placeholder="Your phone number" maxlength="10" name="phone" required>
                    </p>
                </div>
                <p class="help">Do not enter the first zero</p>
            </div>
        </div>
    </div>



    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Birthday</label>
        </div>
        <div class="field-body">
            <div class="field is-narrow">
                <div class="control has-icons-left">
                    <input type="date" class="input" min="1900-01-01" name="dob">
                    <span class="icon is-small is-left">
                        <i class="fas fa-calendar"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Type</label>
        </div>
        <div class="field-body">
            <div class="field is-narrow">
                <div class="control">
                    <div class="select is-fullwidth">
                        <select name="contactType">
                            <option>Personal</option>
                            <option>Business</option>
                            <option>Other</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label" for="gender">Gender</label>
        </div>
        <div class="field-body">
            <div class="field is-narrow">
                <div class="control">
                    <label class="radio">
                        <input type="radio" value="male" name="gender" checked>
                        Male
                    </label>
                    <label class="radio">
                        <input type="radio" value="female" name="gender">
                        Female
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Details</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <textarea class="textarea" placeholder="Add comments" name="comments"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label">
            <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <button type="submit" class="button is-primary">
                        Add contact
                    </button>
                    <button type="reset" class="button is-danger">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>