<div class="columns">
    <div class="column" style="background-color: #f1c40f;">
        <section class="section">
            <div class="container">
                <h1 class="title">
                    Add Contact
                </h1>
                <p class="subtitle">
                    Please enter the details
                </p>
            </div>
        </section>
        <section class="section">
            {{>_form}}
        </section>
    </div>
    <div class="column is-two-thirds" style="background-color: #e74c3c;">
        <section class="section">
            <div class="container">
                <h1 class="title">
                    Phonebook
                </h1>
                <p class="subtitle">
                    All your contacts at one place
                </p>
            </div>
        </section>
        <section class="section">
            {{>_contact-card}}
        </section>
    </div>
</div>