<section class="section">
    <div class="container">
        <h1 class="title">
            Contacts
        </h1>
        <p class="subtitle">
            Checking <strong>Styles</strong>!
        </p>
    </div>
</section>